@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
.visually-hidden {
  display: none;
}
body {
  background-color: hsl(30, 38%, 92%);
}
.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
picture {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
picture > img {
  width: 100%;
}
.ct2 {
  padding: 1em;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 1em;
}
.ct2 > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  color: hsl(228, 12%, 48%);
}
.ct2 > p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.ct2 h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.price {
  display: flex;
  align-items: center;
  gap: 25px;
}
.price > p {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(158, 36%, 37%);
}
.price del {
  color: hsl(228, 12%, 48%);
  font-size: 0.8rem;
}
.ct2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  padding: 0.6em;
  border-radius: 5px;
  background-color: hsl(158, 36%, 37%);
  border: none;
}
.ct2 button > p {
  font-weight: 700;
  color: hsl(30, 38%, 92%);
}

.ct2 button:hover {
  background-color: hsl(154, 55%, 17%);
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .ct2 > p {
    font-size: 0.88rem;
  }
  .ct2 h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .price > p {
    font-size: 2rem;
  }
  .price del {
    font-size: 1rem;
  }
}
@media screen and (min-width: 412px) {
  .ct2 {
    padding-top: 2em;
  }
  .ct2 > p {
    font-size: 1.09rem;
  }
  .ct2 h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .price > p {
    font-size: 2.5rem;
  }
  .price del {
    font-size: 1.2rem;
  }
  .ct2 button > p {
    font-size: 1.5rem;
  }
  .ct2 button > img {
    width: 1.3rem;
  }
}
@media screen and (min-width: 540px) {
  .container {
    padding: 2em;
  }
  .ct2 h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .ct2 > p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 3em;
  }

  .ct2 {
    gap: 1.5em;
    padding: 2em 3em 3em 3em;
  }
  picture {
    border-radius: 20px 20px 0 0;
  }
  .ct2 > p {
    font-size: 1.3rem;
  }
  .ct2 h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .price > p {
    font-size: 3.5rem;
  }
  .price del {
    font-size: 2rem;
  }
  .ct2 button > p {
    font-size: 2.5rem;
  }
  .ct2 button > img {
    width: 1.6rem;
  }
}
@media screen and (min-width: 820px) {
  .container {
    padding: 4em;
  }
  .ct2 h1 {
    font-size: 3.9rem;
    line-height: 3.9rem;
  }
  .ct2 > p {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 912px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    overflow: hidden;
    padding: 0;
    width: 80%;
    flex-direction: row;
    border-radius: 10px;
  }
  picture {
    border-radius: 0;
    width: 50%;
  }
  picture > img {
    height: inherit;
  }
  .ct2 {
    width: 50%;
  }
  .ct2 h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .ct2 > p {
    font-size: 1rem;
  }
  .price > p {
    font-size: 2.5rem;
  }
  .price del {
    font-size: 1rem;
  }
  .ct2 button > p {
    font-size: 1.2rem;
  }
  .ct2 button > img {
    width: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    overflow: hidden;
    padding: 0;
    width: 50%;
    height: 65%;
    flex-direction: row;
  }
  .ct2 {
    padding: 1.5em;
    gap: 1em;
  }
  .ct2 h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .ct2 > p {
    font-size: 0.8rem;
  }
  .price > p {
    font-size: 1.8rem;
  }
  .price del {
    font-size: 1rem;
  }
  .ct2 button > p {
    font-size: 1rem;
  }
  .ct2 button > img {
    width: 0.9rem;
  }
}
@media (min-width: 1280px) {
  .ct2 {
    padding: 2em;
    gap: 2em;
  }
  .ct2 h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .ct2 > p {
    font-size: 1rem;
  }
  .price > p {
    font-size: 2.2rem;
  }
  .price del {
    font-size: 1.2rem;
  }
  .ct2 button > p {
    font-size: 1.2rem;
  }
  .ct2 button > img {
    width: 1rem;
  }
}
